* {
    box-sizing: border-box;
}

body {

    margin: 0;

    font-family:
    Arial,
    sans-serif;

    background:
    #0b0f19;

    color:
    #ffffff;

}

.container {

    width: 95%;

    max-width: 1400px;

    margin:
    auto;

    padding:
    20px;

}


header {

    display:
    flex;

    justify-content:
    space-between;

    align-items:
    center;

    flex-wrap:
    wrap;

    padding:
    20px;

    background:
    #121a2b;

    border-radius:
    16px;

    margin-bottom:
    20px;

}


h1 {

    margin:
    0;

    font-size:
    28px;

}


header p {

    color:
    #9ca3af;

}


.status {

    padding:
    10px 18px;

    border-radius:
    30px;

    font-weight:
    bold;

}


.online {

    background:
    #14532d;

    color:
    #86efac;

}


.error {

    background:
    #7f1d1d;

    color:
    #fca5a5;

}


.loading {

    background:
    #78350f;

    color:
    #fcd34d;

}


.stats {

    display:
    grid;

    grid-template-columns:
    repeat(
        auto-fit,
        minmax(180px, 1fr)
    );

    gap:
    15px;

    margin-bottom:
    25px;

}


.card {

    background:
    #121a2b;

    padding:
    20px;

    border-radius:
    15px;

}


.card span {

    display:
    block;

    color:
    #9ca3af;

    margin-bottom:
    10px;

}


.card strong {

    font-size:
    18px;

}


.section-header {

    display:
    flex;

    justify-content:
    space-between;

    align-items:
    center;

    margin-bottom:
    15px;

}


button {

    border:
    none;

    padding:
    10px 15px;

    border-radius:
    10px;

    cursor:
    pointer;

    background:
    #7c3aed;

    color:
    white;

}


.table-wrapper {

    overflow-x:
    auto;

    background:
    #121a2b;

    border-radius:
    15px;

}


table {

    width:
    100%;

    border-collapse:
    collapse;

    min-width:
    850px;

}


th {

    background:
    #1e293b;

}


th,
td {

    padding:
    14px;

    text-align:
    left;

    border-bottom:
    1px solid #263244;

}


.score {

    font-weight:
    bold;

    font-size:
    17px;

}


.high-score {

    color:
    #22c55e;

}


.medium-score {

    color:
    #facc15;

}


.reasons {

    color:
    #cbd5e1;

    font-size:
    13px;

}


#loading {

    padding:
    30px;

    text-align:
    center;

    background:
    #121a2b;

    border-radius:
    15px;

}


.history-title {

    margin-top:
    40px;

}


.history-item {

    background:
    #121a2b;

    padding:
    15px;

    margin-bottom:
    10px;

    border-radius:
    12px;

}


footer {

    text-align:
    center;

    padding:
    40px 10px;

    color:
    #64748b;

}


@media (max-width: 600px) {

    h1 {

        font-size:
        22px;

    }

    .container {

        width:
        100%;

        padding:
        10px;

    }

}
